.segundero {
    transform: rotate(calc(var(--start-seconds) * 6deg));
    animation: rotateSecond 60s steps(60) infinite;
}

@keyframes rotateSecond {
    from {
        transform: rotate(calc(var(--start-seconds) * 6deg));
    }

    to {
        transform: rotate(calc(var(--start-seconds) * 6deg + 360deg));
    }
}