svg {
    width: 400px;
    fill: white;
    stroke: black;
    stroke-linecap: round;
    /* transform: rotate(-90deg); */

    --start-seconds: 00;
    --start-minutes: 00;
    --start-hours: 00;
}

.hour,
.minute,
.second {
    transform-origin: 100px 100px;
}

.second {
    stroke: #d00505;
    transform: rotate(calc(var(--start-seconds) * 6deg));
    animation: rotateSecondsHand 60s steps(60) infinite;
}

.minute {
    transform: rotate(calc(var(--start-minutes) * 6deg));
    animation: rotateMinuteHand 3600s steps(60) infinite;
    animation-delay: calc(var(--start-seconds) * -1 * 1s);
}

.hour {
    stroke-width: 4;
    transform: srotate(calc(var(--start-hours) * 30deg));
    animation: rotateHourHand calc(12 * 60 * 60s) linear infinite;
    animation-delay: calc(calc(var(--start-minutes) * -60 * 1s) + calc(var(--start-seconds) * -1 * 1s));
}

@keyframes rotateSecondsHand {
    from {
        transform: rotate(calc(var(--start-seconds) * 6deg));
    }

    to {
        transform: rotate(calc(var(--start-seconds) * 6deg + 360deg));
    }
}

@keyframes rotateMinuteHand {
    from {
        transform: rotate(calc(var(--start-minutes) * 6deg));
    }

    to {
        transform: rotate(calc(var(--start-minutes) * 6deg + 360deg));
    }
}

@keyframes rotateHourHand {
    from {
        transform: rotate(calc(var(--start-hours) * 30deg));
    }

    to {
        transform: rotate(calc(var(--start-hours) * 30deg + 360deg));
    }
}