:root {
    --second: 1s;
    --minute: calc(var(--second) * 60);
    --hour: calc(var(--minute) * 60);
}

.clock {
    --setHours: 14;
    --setMinutes: 14;
    --timeShiftHour: calc(var(--setTimeHour) * var(--hour));
    --timeShiftMinute: calc(var(--setTimeMinute) * var(--minute));
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

.hour,
.minute,
.second {
    transform-origin: 100px 100px;
}

.second {
    /* indica la duracion de una rotación */
    animation: rotate steps(60) var(--minute) infinite;
}

.minute {
    /* indica la duracion de una rotación */
    animation: rotate steps(60) var(--hour) infinite;
    /* truco para evitar el override */
    animation-delay: calc(var(--timeShiftMinute) * -1);
}

.hour {
    /* indica la duracion de una rotación */
    animation: rotate linear calc(var(--hour) * 12) infinite;
    /* truco para evitar el override */
    /* animation-delay: calc(var(--timeShiftHour) * -1); */
    animation-delay: calc(var(--timeShiftHour) + var(--timeShiftMinute) * -1);
}